<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Swimv2-Client</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>SE2.Swimv2.Servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>SE2.Swimv2.Servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>SE2.Swimv2.Servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RicercaUtentiGuestServlet</display-name>
    <servlet-name>RicercaUtentiGuestServlet</servlet-name>
    <servlet-class>SE2.Swimv2.Servlet.RicercaUtentiGuestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RicercaUtentiGuestServlet</servlet-name>
    <url-pattern>/RicercaUtentiGuestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModificaDatiServlet</display-name>
    <servlet-name>ModificaDatiServlet</servlet-name>
    <servlet-class>SE2.Swimv2.Servlet.ModificaDatiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificaDatiServlet</servlet-name>
    <url-pattern>/ModificaDatiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PersonalSkillServlet</display-name>
    <servlet-name>PersonalSkillServlet</servlet-name>
    <servlet-class>SE2.Swimv2.Servlet.PersonalSkillServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonalSkillServlet</servlet-name>
    <url-pattern>/PersonalSkillServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>SE2.Swimv2.Servlet.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistraUserServlet</display-name>
    <servlet-name>RegistraUserServlet</servlet-name>
    <servlet-class>SE2.Swimv2.Servlet.RegistraUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistraUserServlet</servlet-name>
    <url-pattern>/RegistraUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModificaPasswordAdminServlet</display-name>
    <servlet-name>ModificaPasswordAdminServlet</servlet-name>
    <servlet-class>SE2.Swimv2.Servlet.ModificaPasswordAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificaPasswordAdminServlet</servlet-name>
    <url-pattern>/ModificaPasswordAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AggiungiSkillServlet</display-name>
    <servlet-name>AggiungiSkillServlet</servlet-name>
    <servlet-class>SE2.Swimv2.Servlet.AggiungiSkillServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AggiungiSkillServlet</servlet-name>
    <url-pattern>/AggiungiSkillServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfiloServlet</display-name>
    <servlet-name>ProfiloServlet</servlet-name>
    <servlet-class>SE2.Swimv2.Servlet.ProfiloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfiloServlet</servlet-name>
    <url-pattern>/ProfiloServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RicercaUtentiUserServlet</display-name>
    <servlet-name>RicercaUtentiUserServlet</servlet-name>
    <servlet-class>SE2.Swimv2.Servlet.RicercaUtentiUserServlet</servlet-class>
  </servlet>
<servlet>
    <description></description>
    <display-name>AmiciUserServlet</display-name>
    <servlet-name>AmiciUserServlet</servlet-name>
    <servlet-class>SE2.Swimv2.Servlet.AmiciUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AmiciUserServlet</servlet-name>
    <url-pattern>/AmiciUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProponiAbilitaServlet</display-name>
    <servlet-name>ProponiAbilitaServlet</servlet-name>
    <servlet-class>SE2.Swimv2.Servlet.ProponiAbilitaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProponiAbilitaServlet</servlet-name>
    <url-pattern>/ProponiAbilitaServlet</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>RichiesteAggiuntaSkillServlet</display-name>
    <servlet-name>RichiesteAggiuntaSkillServlet</servlet-name>
    <servlet-class>SE2.Swimv2.Servlet.RichiesteAggiuntaSkillServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RichiesteAggiuntaSkillServlet</servlet-name>
    <url-pattern>/RichiesteAggiuntaSkillServlet</url-pattern>
  </servlet-mapping>
</web-app>